{% if data.error %}
  {{ data.error }}
{% else %}
  <div class="stats-item steam-community-infos {{ data.onlineState }}">
    <img src="{{ data.avatarIcon }}" class="avatar-icon" alt="{{ data.name }}" title="{{ data.name }}" />
    <div>
      <p class="name">{{ data.name }}</p>
      {% if data.vacBanned %}
        <p class="vac-status-banned">{{ 'VAC banned'|t }}</p>
      {% else %}
        <p class="vac-status-ok">{{ 'VAC trusted player'|t }}</p>
      {% endif %}
    </div>
  </div>

  {% if data.inGameInfo %}
  <div class="stats-item steam-ingame-infos">
    <img src="{{ data.inGameInfo.gameIcon }}" class="game-icon" alt="{{ data.inGameInfo.gameName }}" title="{{ data.inGameInfo.gameName }}" />
    <div>
      <p class="game-name">Currently playing {{ data.inGameInfo.gameName }}
      {% if data.inGameInfo.gameJoinLink %} - {{ data.inGameInfo.gameJoinLink|raw }}{% endif %}
      </p>
    </div>
  </div>
  {% endif %}

  {% if data.privacyState %}
    {% if data.memberSince %}
    <div class="stats-item steam-member-since">
      <label>{{ 'Member since:'|t }}</label>{{ data.memberSince }}
    </div>
    {% endif %}

    {% if data.steamRating %}
    <div class="stats-item steam-rating">
      <label>{{ 'Steam rating:'|t }}</label>{{ data.steamRating }}
    </div>
    {% endif %}
  {% else %}
    <div class="stats-item last-item steam-private-profile">{{ 'Private profile'|t }}</div>
  {% endif %}

  {% if data.steamURL %}
  <div class="stats-item">
    <i class="fab fa-steam"><a href="{{ data.steamURL }}" target="_blank">{{ 'Steam profile'|t }}</a></i>
  </div>
  {% endif %}
{% endif %}
