/**
* CSS Document - steam community block
*/
.block-steamcommunity-user {
  box-sizing: border-box;
  max-width: 300px;
  padding: 6px 2px;
  color: #fff;
  background: #171a21;
  font-size: 13px;
}
.block-steamcommunity-user h2 {
  padding: 3px 0;
  text-indent: 8px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}
.block-steamcommunity-user p {
  margin: 0;
}
.block-steamcommunity-user label {
  color: #b8b6b4;
}
.block-steamcommunity-user a {
  color: #fff;
}
.block-steamcommunity-user a:hover {
  color: #ccc;
}
.block-steamcommunity-user .content {
  margin: 0;
  color: #939393;
  background: #1b1b1b;
  font-size: 11px;
  line-height: 135%;
}
.block-steamcommunity-user .steam-private-profile {
  text-align: center;
}
.block-steamcommunity-user .stats-item {
  overflow: hidden;
  padding: 3px 8px;
}
.block-steamcommunity-user .steam-community-infos {
  padding: 8px;
}
.block-steamcommunity-user .last-item {
  border-bottom: none;
}
.block-steamcommunity-user .avatar-icon {
  float: left;
  margin: 0 10px 0 0;
  border: 2px solid #939393;
}
.block-steamcommunity-user .online .avatar-icon {
  border: 2px solid #7cadd6;
}
.block-steamcommunity-user .steam-ingame-infos .game-icon,
.block-steamcommunity-user .in-game .avatar-icon {
  border: 2px solid #b1fb50;
}
.block-steamcommunity-user .steam-ingame-infos .game-icon {
  float: left;
  margin: 0 10px 0 0;
}
.block-steamcommunity-user .steam-ingame-infos a {
  color: #b1fb50;
  font-weight: bold;
}
.block-steamcommunity-user .name {
  font-weight: bold;
}
.block-steamcommunity-user .online .name {
  color: #7cadd6;
}
.block-steamcommunity-user .in-game .name {
  color: #b1fb50;
}
